@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500;700&family=Roboto:wght@300;400;500;600;700&display=swap");
/* COLORS */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

img {
  vertical-align: bottom;
  width: 100%;
  height: auto; }

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #666;
  font-size: 1.6rem; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Oswald', sans-serif;
  line-height: 1em; }

a {
  text-decoration: none; }

img {
  display: block;
  width: 100%;
  height: auto; }

.graph {
  font-size: 1.6rem;
  color: #666; }
  .graph--white {
    color: #fff; }
  .graph--dark {
    color: #333;
    font-weight: 500; }
  .graph--medium {
    font-size: 1.8rem;
    line-height: 1.4; }
    @media (min-width: 768px) {
      .graph--medium {
        font-size: 2rem; } }
  .graph--large {
    font-size: 2.1rem;
    line-height: 1.4; }
    @media (min-width: 768px) {
      .graph--large {
        font-size: 2.4rem; } }

.pseudo-border {
  position: relative;
  padding-bottom: 4rem; }
  .pseudo-border::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 17rem;
    height: .3rem;
    background-color: #ed4441; }
  .pseudo-border--white::after {
    background-color: #fff; }

.heading-primary {
  font-size: 4rem;
  font-weight: 700;
  color: #333;
  text-transform: uppercase; }
  @media (min-width: 768px) {
    .heading-primary {
      font-size: 6rem; } }
  @media (min-width: 990px) {
    .heading-primary {
      font-size: 8rem; } }
  .heading-primary--light {
    color: #fff; }

.heading-secondary {
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.2em;
  text-transform: uppercase;
  color: #333; }
  @media (min-width: 768px) {
    .heading-secondary {
      font-size: 5rem; } }
  @media (min-width: 990px) {
    .heading-secondary {
      font-size: 6rem; } }

.heading-tertiary {
  font-size: 2.4rem; }

.light-logo {
  font-size: 3rem;
  font-family: 'Oswald', sans-serif; }
  .light-logo__icon {
    color: #ed4441; }
  .light-logo__text {
    color: #20292f;
    font-weight: 500;
    display: none; }
    @media (min-width: 450px) {
      .light-logo__text {
        display: inline; } }

.display-none {
  display: none; }

.clear-list {
  list-style: none;
  margin: 0;
  padding: 0; }

.m-bottom-5 {
  margin-bottom: 5rem; }

.m-bottom-6 {
  margin-bottom: 6rem; }

.m-bottom-7 {
  margin-bottom: 6rem; }

.m-top-7 {
  margin-top: 7rem; }

.wrapper {
  display: grid;
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; }
  .wrapper--inner {
    display: grid;
    grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; }

.main-nav {
  grid-column: full-start / full-end;
  padding: 1rem 0; }
  .main-nav__content {
    grid-column: full-start / full-end;
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; }
    @media (min-width: 768px) {
      .main-nav__content {
        grid-column: center-start / center-end; } }
  .main-nav__list-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 100;
    background-color: #fff;
    min-width: 25rem;
    transform: translateX(-100%);
    opacity: 0;
    visibility: hidden;
    transition: .3s all ease; }
    @media (min-width: 990px) {
      .main-nav__list-wrapper {
        position: static;
        top: auto;
        left: auto;
        bottom: auto;
        min-width: auto;
        transform: translateX(0);
        opacity: 1;
        visibility: visible; } }
    .main-nav__list-wrapper--visible {
      transform: translateX(0);
      opacity: 1;
      visibility: visible; }
  .main-nav__list {
    display: flex;
    flex-direction: column; }
    @media (min-width: 990px) {
      .main-nav__list {
        position: static;
        top: auto;
        left: auto;
        bottom: auto;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-start; }
        .main-nav__list--child {
          flex-direction: column;
          align-items: flex-start;
          position: absolute;
          top: 120%;
          left: 50%;
          transition: .2s all ease;
          visibility: hidden;
          opacity: 0;
          box-shadow: 0 0 2.5rem rgba(26, 26, 26, 0.2);
          min-width: 20rem;
          transform: translateX(-50%);
          border-radius: .5rem;
          padding: .5rem 0;
          background-color: #fff; }
          .main-nav__list--child::before {
            content: '';
            display: block;
            width: 0;
            height: 0;
            border-left: 1rem solid transparent;
            border-right: 1rem solid transparent;
            border-bottom: 1rem solid #fff;
            position: absolute;
            bottom: 100%;
            left: 50%;
            transform: translateX(-50%); } }
  .main-nav__item {
    position: relative; }
    .main-nav__item--active .main-nav__link {
      color: #ed4441; }
    .main-nav__item--child {
      width: 100%; }
  .main-nav__item:hover .main-nav__list--child {
    top: 100%;
    visibility: visible;
    opacity: 1; }
  .main-nav__link {
    display: block;
    color: #20292f;
    font-weight: 600;
    letter-spacing: .1rem;
    transition: .3s all ease; }
    .main-nav__link:not(.main-nav__link--child) {
      padding: 1.25rem 1rem 1.25rem 2rem; }
    .main-nav__link:hover {
      color: #ed4441; }
    .main-nav__link--child {
      white-space: nowrap;
      padding: .25rem 1.5rem .25rem 2.5rem; }
      .main-nav__link--child:hover {
        padding-left: 3rem; }
  .main-nav__close-btn {
    display: block;
    background-color: #20292f;
    color: #fff;
    padding: .75rem;
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: 600;
    text-align: center;
    cursor: pointer; }
    @media (min-width: 990px) {
      .main-nav__close-btn {
        display: none; } }
  .main-nav__toggler {
    display: block;
    cursor: pointer;
    padding: 1rem; }
    @media (min-width: 990px) {
      .main-nav__toggler {
        display: none; } }

.main-header {
  grid-column: full-start / full-end;
  height: 50vh;
  background-image: linear-gradient(to right bottom, rgba(32, 41, 47, 0.8), rgba(32, 41, 47, 0.8)), url(../img/travel-landscape-01.jpg);
  background-size: cover;
  background-position: top center; }
  @media (min-width: 768px) {
    .main-header {
      height: 60vh; } }
  @media (min-width: 990px) {
    .main-header {
      height: 70vh; } }
  .main-header__content {
    grid-column: center-start / center-end;
    padding: 3rem 0;
    display: grid;
    grid-row-gap: 2rem;
    align-content: center;
    justify-content: start;
    justify-items: start; }
  .main-header__desc {
    max-width: 65rem; }

.main-footer {
  grid-column: full-start / full-end;
  background-color: #333; }
  .main-footer__content {
    grid-column: center-start / center-end;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center; }
  .main-footer__soc-media {
    justify-self: end; }
  .main-footer__copy {
    font-weight: 300; }

.shop-nav__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end; }

.shop-nav__item:first-child {
  margin-right: 2rem; }

.shop-nav__link {
  font-size: 1.8rem;
  color: #20292f;
  position: relative; }

.shop-nav__counter {
  display: block;
  width: 1.8rem;
  height: 1.8rem;
  line-height: 1.8rem;
  background-color: #ed4441;
  color: #fff;
  text-align: center;
  position: absolute;
  top: -1rem;
  left: 1.3rem;
  font-size: 1.125rem;
  border-radius: 100%; }

.shop-nav__price {
  font-size: 1.5rem;
  font-weight: 600;
  margin-left: .5rem; }

.btn, .btn:link, .btn:visited {
  display: inline-block;
  font-family: 'Oswald', sans-serif;
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: .25rem;
  padding: .75rem 1.75rem;
  border: 0.2rem solid #fff;
  transition: .2s all ease; }
  @media (min-width: 768px) {
    .btn, .btn:link, .btn:visited {
      font-size: 2rem; } }

.btn::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: '\f054';
  display: inline-block;
  margin-left: -1rem;
  transition: .2s all ease;
  visibility: hidden;
  opacity: 0; }

.btn:hover {
  padding-left: 1.25rem; }
  .btn:hover::after {
    margin-left: 1rem;
    visibility: visible;
    opacity: 1; }

.btn--white {
  color: #fff; }

.btn--red {
  color: #fff;
  background-color: #ed4441; }

.social-media {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  grid-column-gap: 1.5rem; }
  .social-media__link {
    color: #666;
    font-size: 2.5rem;
    display: block;
    padding: .5rem; }

.home-content {
  grid-column: center-start / center-end;
  padding: 10rem 0; }
  @media (min-width: 768px) {
    .home-content {
      padding: 15rem 0; } }
  .home-content__cont {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(38rem, 1fr));
    grid-column-gap: 7rem; }

.stacked-images {
  grid-column: full-start / full-end;
  display: grid;
  grid-template-columns: repeat(4, 1fr); }

.bg-blur {
  grid-column: full-start / full-end;
  background: no-repeat url(../../img/travel-landscape-13.png) center top/cover;
  padding-top: 15rem; }
  .bg-blur__content {
    grid-column: center-start / center-end;
    text-align: center; }
  .bg-blur__couple {
    grid-column: 1 / -1; }
