/* COLORS */

// COLORS
$colorFirst: #ed4441;
$colorSecond: #ef8f61;
$colorThird: #2ea3f2;
$colorFourth: #20292f;

$colorWhite: #fff;
$colorDark: #000;

$colorGreyLight1: #f4f4f4;

$colorGreyDark1: #666;
$colorGreyDark2: #333;
$colorGreyDark3: #1a1a1a;

// FONT
$defaultFontSize: 1.6rem;