
.main-header {
    height: auto;
    padding: 12vw 0; 
    @include md {
        height: 70vh;
    }
    background-image: linear-gradient(
        to right bottom,
        rgba($colorFourth, 0.8),
        rgba($colorFourth, 0.8)),
    url(../img/travel-landscape-01.jpg);
    background-size: cover;
    background-position: top center;

    &--landing {
        height: auto;
        padding: 12vw 0; 
        @include sm {
            height: 75vh;
        }
        @include md {
            height: 100vh;
        }
    }

    &__content {
        grid-column: center-start / center-end;
        padding: 3rem 0;

        display: grid;
        grid-row-gap: 2rem;
        align-content: center;
        justify-content: start; 
        justify-items: start;
     } 

     &__desc {
         max-width: 65rem;
     }
}

.blog-header,
.shop-header {
    padding-top: 12vw; 
    @include xs {
        padding-top: 10vw; 
    }
    @include md {
        padding-top: 8vw; 
    }
}