
.main-header {
    height: auto;
    padding: 12vw 0; 
    @include md {
        height: 70vh;
    }
    background-image: linear-gradient(
        to right bottom,
        rgba($colorFourth, 0.8),
        rgba($colorFourth, 0.8)),
    url(../img/travel-landscape-01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;

    &--landing, &--about {
        height: auto;
        padding: 12vw 0; 
        @include sm {
            height: 75vh;
        }
        @include md {
            height: 100vh;
        }
    }

    &--about {
        background-image: url(../img/travel-landscape-19.jpg);
        background-position: bottom center;
        background-attachment: fixed;
        position: relative;

        &__travel-person {
            position: absolute;
            bottom: 0;
            left: 0;
            display: none;
            @include md {
                max-width: 85vh;
                display: block;
            }
        }
    }

    &__content {
        grid-column: center-start / center-end;
        padding: 3rem 0;

        display: grid;
        grid-row-gap: 2rem;
        align-content: center;
        justify-content: start; 
        justify-items: start;

        &--about {
            justify-content: end;  
            grid-row-gap: 0;
            padding: 0;
            transform: translateY(0);
            max-width: 40rem;
            @include md {
                transform: translateY(-15%);
                grid-column: 7 / 10;
                max-width: 100%;
            }
        }
     } 

     &__desc {
         max-width: 65rem;
     }
}

.blog-header,
.shop-header,
.packages-header,
.team-header {
    padding-top: 12vw; 
    @include xs {
        padding-top: 10vw; 
    }
    @include md {
        padding-top: 8vw; 
    }
}