
.main-nav {
    grid-column: full-start / full-end;
    padding: 1rem 0;

    &__content {
        grid-column: full-start / full-end;
        padding: 0 1rem;
        @include sm {
            grid-column: center-start / center-end;
        }

        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }

    &__list-wrapper {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        z-index: 100;
        background-color: $colorWhite;
        min-width: 25rem;
        transform: translateX(-100%);
        opacity: 0;
        visibility: hidden;
        transition: .3s all ease;
        @include md {
            position: static;
            top: auto;
            left: auto;
            bottom: auto;
            min-width: auto;
            transform: translateX(0);
            opacity: 1;
            visibility: visible;
        }

        &--visible {
            transform: translateX(0);
            opacity: 1;
            visibility: visible;  
        }
    }
    
    &__list {
        display: flex;
        flex-direction: column;  

        @include md {
            position: static;
            top: auto;
            left: auto;
            bottom: auto;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            justify-content: flex-start;
            &--child {
                flex-direction: column;
                align-items: flex-start;
                position: absolute;
                top: 120%;
                left: 50%;
                transition: .2s all ease;
                visibility: hidden;
                opacity: 0;
                box-shadow: 0 0 2.5rem rgba($colorGreyDark3, .2);
                min-width: 20rem;
                transform: translateX(-50%);
                border-radius: .5rem;
                padding: .5rem 0;
                background-color: $colorWhite;
                &::before {
                    content: '';
                    display: block;
                    width: 0; 
                    height: 0; 
                    border-left: 1rem solid transparent;
                    border-right: 1rem solid transparent;            
                    border-bottom: 1rem solid $colorWhite;
                    position: absolute;
                    bottom: 100%;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }    
        }
    } 

    &__item {
        position: relative;
        &--active {
            .main-nav__link {
                color: $colorFirst;
            }
        }
        &--child {
            width: 100%;
        }
    }
    &__item:hover &__list--child {
        top: 100%;
        visibility: visible;
        opacity: 1;
    }

    &__link {
        display: block;
        color: $colorFourth;
        font-weight: 600;
        letter-spacing: .1rem;
        transition: .3s all ease;

        &:not(.main-nav__link--child) {
            padding: 1.25rem 1rem 1.25rem 2rem; 
        }

        &:hover {
            color: $colorFirst;
        }

        &--child {
            white-space: nowrap;
            padding: .25rem 1.5rem .25rem 2.5rem;
            

            &:hover {
                padding-left: 3rem;
            }
        }
    }

    &__close-btn {
        display: block;
        background-color: $colorFourth;
        color: $colorWhite;
        padding: .75rem;
        text-transform: uppercase;
        font-size: 1.3rem;
        font-weight: 600;
        text-align: center;
        cursor: pointer;
        @include md {
            display: none;     
        }
    }

    &__toggler {
        display: block;  
        cursor: pointer;
        padding: 1rem;
        @include md {
            display: none;     
        }
    }
}