
.display-none {
    display: none;
}

.clear-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.m-bottom-5 { margin-bottom: 5rem; }
.m-bottom-6 { margin-bottom: 6rem; }
.m-bottom-7 { margin-bottom: 6rem; }
.m-bottom-10 { margin-bottom: 10rem; }


.m-top-5 { margin-top: 5rem; }
.m-top-6 { margin-top: 6rem; }
.m-top-7 { margin-top: 7rem; }


