.contact-side {
    padding: 12vw 0; 
    @include xs {
        padding: 10vw 0; 
    }
    @include md {
        padding: 8vw 0; 
    }

    &__content {
        grid-column: 2 / span 8;
        display: grid;
        grid-template-columns: 1fr; 
        grid-column-gap: 7rem;
        @include md {
            grid-template-columns: repeat(2, 1fr);
        }
    } 
}

.contact-map {
    iframe {
        width: 100%;
        height: 50vh;
    }
}

.contact-boxes {
    grid-column: center-start / center-end;
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 5%;
    grid-row-gap: 5rem;

    @include md {
        grid-template-columns: 1fr 1fr 1fr;
    }
}