
.home-side {
    padding: 12vw 0; 
    @include xs {
        padding: 10vw 0; 
    }
    @include md {
        padding: 8vw 0; 
    }

    &__content {
        grid-column: 2 / span 8;
        display: grid;
        grid-template-columns: 1fr; 
        grid-column-gap: 7rem;
        @include md {
            grid-template-columns: repeat(2, 1fr);
        }
    } 
}

.stacked-images {
    display: grid;
    grid-template-columns: 1fr;
    @include xxs {
        grid-template-columns: repeat(2, 1fr);
    }
    @include sm {
        grid-template-columns: repeat(4, 1fr);
    }

    &__btn {
        grid-column: 1 / -1;
        justify-self: center;
    }

    &--landing {
        grid-column: 1 / -1;
        background-color: $colorGreyLight1;
    }
}

.bg-blur {
    background: no-repeat url(../../img/travel-landscape-13.png) center top/ cover;
    padding-top: 15rem;

    &__content {
        grid-column: center-start / center-end;

        text-align: center;
    }

    &__couple {
        grid-column: 1 / -1;
    }
}