
.home-content {
    grid-column: center-start / center-end;
    padding: 10rem 0; 
    @include sm {
        padding: 15rem 0; 
    }

    &__container {
        grid-column: 1 / -1;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(38rem, 1fr));
        grid-column-gap: 7rem;
    } 
}

.stacked-images {
    grid-column: full-start / full-end;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.bg-blur {
    grid-column: full-start / full-end;
    background: no-repeat url(../../img/travel-landscape-13.png) center top/ cover;
    padding-top: 15rem;

    &__content {
        grid-column: center-start / center-end;

        text-align: center;
    }

    &__couple {
        grid-column: 1 / -1;
    }
}